html, body {
  margin: 20px 0 0 0;
  padding: 4px;
}

body {
  background: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
}
#madeby {
  color:red;
  top:0;
  text-align: center;
  margin:5px;
  padding:5px;
  position:absolute;
}

canvas {
  max-width: 95vw;
  display: block;
  margin: 5px auto;
  box-shadow: 0 0 11px #000a;
  border-radius: 3px;
  cursor: url('/cursor.png'), auto; 
  background: #222;
}
canvas {
  max-width: 90vw;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 11px #000a;
  border-radius: 3px;
  cursor: url('/cursor.png') 0 0, pointer;
  background: #222;
}

canvas {
  cursor: url('/cursor.png') 0 0, pointer;
}

